<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Instagram</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            {% load static %}
            <img src="{% static 'instagrams.png' %}" alt="" class="instagram_logo"/>
            
        </div>
        <div class="search">
            <input type="text" value="검색">
        </div>
        <nav>
            <ul>
               
                <li> {% load static %}<img src="{% static 'compass.svg' %}" alt="" class="logo_img"/></li>
                <li> {% load static %}<img src="{% static 'heart.svg' %}" alt="" class="logo_img"/></li>
                <li> {% load static %}<img src="{% static 'profile.svg' %}" alt="" class="logo_img"/> </li>
                    
            </ul>
        </nav>
    </header>

</body>
</html>