<html>
<head>
    <title>Instagram</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="djang/mysite/main/templates/images/instagrams.png" alt="" class="instagram_logo">
            
        </div>
        <div class="search">
            <input type="text" value="검색">
        </div>
        <nav>
            <ul>
                <li><img src="djang/mysite/main/templates/images/compass.svg" alt="" class="logo_img"</li>
                <li><img src="djang/mysite/main/templates/images/heart.svg" alt="" class="logo_img"</li>
                <li><img src="djang/mysite/main/templates/images/profile.svg" alt="" class="logo_img" </li>
                    
            </ul>
        </nav>
    </header>
    
    <h1>메인 페이지입니다</h1>
    <!-- 정적 이미지 불러오기 -->
    {% load static %}
    <img src="{% static 'profile-1.jpg' %}">
</body>
</html>